@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: #FFFFFF;
}

#seleccionar-mokepon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 48px;
}

.subtitulo {
    color: #FFFFFF;
    font-size: 24px;
}

.tarjetas,
.botones-disparo {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 200px;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #FFFFFF;
}

.tarjeta-de-mokepon p {
    background-color: black;
    text-align: center;
    width: 190px;
}

.tarjeta-de-mokepon img {
    width: 10vw;
    height: 19vh;
    padding: 150px 0 0 0;
}

.fcbarcelona {
    background: url("../assets/fondoBarca.jpeg");
    background-size: 200px 300px;
}

.realmadrid {
    background: url("../assets/fondoMadrid.jpeg");
    background-size: 200px 300px;
}

.arsenal {
    background-image: url("../assets/fondoArsenal.jpeg");
    background-size: 200px 300px;
}

input:checked+label {
    opacity: 0.5;
}

.botonSeleccionar {
    background: #FFFFFF;
    color: black;
    border-color: #FFFFFF;
    /* width: 20vw; */
    height: 5vh;
    margin-top: 100px;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
}


/* .manUnited {
    width: 200px;
    height: 300px;
    background-color: #FFFFFF;
    padding: 10px;
    box-sizing: border-box;
    background-image: url("../assets/fondoUnited.jpeg");
    background-size: 200px 300px;
    opacity: 0.7;
    border-radius: 30px;
    display: flex;
}

.manUnited img {
    width: 150px;
    height: 150px;
}

.psg {
    width: 200px;
    height: 300px;
    background-color: #FFFFFF;
    padding: 10px;
    box-sizing: border-box;
    background-image: url("../assets/fondoPsg.jpeg");
    background-size: 200px 300px;
    opacity: 0.7;
    border-radius: 30px;
    display: flex;
}

.psg img {
    width: 150px;
    height: 150px;
}

.manCity {
    width: 200px;
    height: 300px;
    background-color: #FFFFFF;
    padding: 10px;
    box-sizing: border-box;
    background-image: url("../assets/fondoCity.webp");
    background-size: 200px 300px;
    opacity: 0.7;
    border-radius: 30px;
    display: flex;
}

.manCity img {
    width: 150px;
    height: 150px;
} */

input {
    display: none;
}

#btn-planta {
    border-radius: 50%;
    border: 5px solid #000000;
    width: 100px;
    height: 100px;
    font-size: 60px;
    background-color: transparent;
    color: #FFFFFF;
}

#btn-fuego {
    border-radius: 50%;
    border: 5px solid #000000;
    width: 100px;
    height: 100px;
    font-size: 60px;
    background-color: transparent;
    color: #FFFFFF;
}

#btn-agua {
    border-radius: 50%;
    border: 5px solid black;
    width: 100px;
    height: 100px;
    font-size: 60px;
    background-color: transparent;
    color: #FFFFFF;
    transform: rotate(-90deg);
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#section-mensaje {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 280px;
    height: 80px;
    background-color: #FFFFFF;
    color: black;
    padding: 20px;
    margin-top: 20px;
}

#btn-reiniciar {
    background-color: transparent;
    border: none;
    color: red;
    font-family: 'Press Start 2P', cursive;
}

.penales {
    display: grid;
    grid-template-columns: 300px 300px;
    color: yellow;
    margin: 20px;
}

#logoJugador img,
#logoRival img {
    width: 60px;
    height: 60px;
}

#vidas-jugador,
#vidas-rival {
    font-size: 48px;
    margin: 0px 20px;
}

.penales-pateados,
.penales-tapados {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 480px) {

    .tarjetas,
    .botones-disparo {
        flex-direction: column;
    }
}